# =========================
# Node
# =========================
node_modules/
frontend/node_modules/
dist/
frontend/dist/
*.tsbuildinfo

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
.venv/
.coverage

# =========================
# Environment files
# =========================
.env

# =========================
# Database
# =========================
*.db
*.db-shm
*.db-wal

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
